<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zs.androidappfw">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- QuickContactBadge -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:fullBackupContent="true"
        android:name=".App"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.MainActivity"/>

        <activity android:name=".ui.activity.ImageViewAct" />
        <activity android:name=".ui.activity.ImageButtonAct" />
        <activity android:name=".ui.activity.QuickContactBadgeAct" />

        <activity android:name=".ui.activity.ProgressBarAct" />
        <activity android:name=".ui.activity.AbsSeekBarAct" />
        <activity android:name=".ui.activity.RatingBarAct" />
        <activity android:name=".ui.activity.SeekBarAct" />

        <activity android:name=".ui.activity.TextViewAct" />
        <activity android:name=".ui.activity.CheckedTextViewAct" />
        <activity android:name=".ui.activity.ChronometerAct" />
        <activity android:name=".ui.activity.TextClockAct" />
        <activity android:name=".ui.activity.EditTextAct" />
        <activity android:name=".ui.activity.AutoCompleteTextViewAct" />
        <activity android:name=".ui.activity.MultiAutoCompleteTextViewAct" />
        <activity android:name=".ui.activity.ExtractEditTextAct" />
        <activity android:name=".ui.activity.ButtonAct" />
        <activity android:name=".ui.activity.CompoundButtonAct" />
        <activity android:name=".ui.activity.CheckBoxAct" />
        <activity android:name=".ui.activity.RadioButtonAct" />
        <activity android:name=".ui.activity.SwitchAct" />
        <activity android:name=".ui.activity.ToggleButtonAct" />

        <activity android:name=".ui.activity.ViewGroupAct" />

        <activity android:name=".ui.activity.AbsoluteLayoutAct" />
        <activity android:name=".ui.activity.WebViewAct" />

        <activity android:name=".ui.activity.FrameLayoutAct" />
        <activity android:name=".ui.activity.AppWidgetHostViewAct" />
        <activity android:name=".ui.activity.CalendarViewAct" />
        <activity android:name=".ui.activity.DatePickerAct" />
        <activity android:name=".ui.activity.GestureOverlayViewAct" />
        <activity android:name=".ui.activity.MediaControllerAct" />
        <activity android:name=".ui.activity.HorizontalScrollViewAct" />
        <activity android:name=".ui.activity.ScrollViewAct" />
        <activity android:name=".ui.activity.TabHostAct" />
        <activity android:name=".ui.activity.TimePickerAct" />
        <activity android:name=".ui.activity.ViewAnimatorAct" />
        <activity android:name=".ui.activity.ViewFlipperAct" />
        <activity android:name=".ui.activity.ViewSwitcherAct" />
        <activity android:name=".ui.activity.ImageSwitcherAct" />
        <activity android:name=".ui.activity.TextSwitcherAct" />

        <activity android:name=".ui.activity.GridLayoutAct" />

        <activity android:name=".ui.activity.LinearLayoutAct" />
        <activity android:name=".ui.activity.ActionMenuViewAct" />
        <activity android:name=".ui.activity.NumberPickerAct" />
        <activity android:name=".ui.activity.RadioGroupAct" />
        <activity android:name=".ui.activity.SearchViewAct" />
        <activity android:name=".ui.activity.TabWidgetAct" />
        <activity android:name=".ui.activity.TableLayoutAct" />
        <activity android:name=".ui.activity.TableRowAct" />
        <activity android:name=".ui.activity.ZoomControlsAct" />

        <activity android:name=".ui.activity.RelativeLayoutAct" />
        <activity android:name=".ui.activity.DialerFilterAct" />
        <activity android:name=".ui.activity.TwoLineListItemAct" />

        <activity android:name=".ui.activity.animation.FrameAnimationAct" />

    </application>

</manifest>
