<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 自定义权限声明 start -->
    <permission-group android:name="android.permission-group.CUSTOMIZATION_PERMISSION"
        android:protectionLevel="normal"/>

    <permission android:name="com.zs.androidappfw.permission.CUSTOMIZATION_PERMISSION_PAGE"
        android:label="@string/permlab_customization_permission_page"
        android:description="@string/permdesc_customization_permission_page"
        android:permissionGroup="android.permission-group.CUSTOMIZATION_PERMISSION"
        android:protectionLevel="signature" />
    <!-- 自定义权限声明 end -->

    <uses-feature android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature android:name="android.hardware.telephony.subscription" />
    <uses-feature android:name="android.hardware.telephony.calling" />
    <uses-feature android:name="android.hardware.telephony.euicc" />
    <uses-feature android:name="android.hardware.telephony.radio.access" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.MANAGE_SUBSCRIPTION_PLANS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_PRECISE_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS"/>
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- QuickContactBadge -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <!-- bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED"
        tools:ignore="ProtectedPermissions" />
    <!-- location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Android 11 -->
    <queries>
        <package android:name="com.zs.androidappfw" />
        <provider android:authorities="com.zs.androidappfw.lifecycle.ContentProviderLifecycle" />
    </queries>

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".AppLifecycle"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".SplashActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.MainActivity"/>

        <activity android:name=".ui.fundamental.lang.JavaAct" />
        <activity android:name=".ui.fundamental.lang.JavaLangAct" />
        <activity android:name=".ui.fundamental.lang.JavaLangAnnotationAct" />
        <activity android:name=".ui.fundamental.lang.JavaLangInvokeAct" />
        <activity android:name=".ui.fundamental.lang.JavaLangReflectAct" />
        <activity android:name=".ui.fundamental.lang.JavaLangRefAct" />
        <activity android:name=".ui.fundamental.lang.ClassDetailsAct" />

        <activity android:name=".ui.fundamental.AndroidBasicInfoAct" />
        <activity android:name=".ui.fundamental.BuildAct" />
        <activity android:name=".ui.fundamental.DebugAct" />
        <activity android:name=".ui.fundamental.EnvironmentAct" />
        <activity android:name=".ui.fundamental.LocaleListAct" />
        <activity android:name=".ui.fundamental.ProcessAct" />
        <activity android:name=".ui.fundamental.UserHandleAct" />

        <activity android:name=".ui.lifecycle.ActivitySingleInstanceAct"
            android:launchMode="singleInstance"/>
        <activity android:name=".ui.lifecycle.ActivitySingleTaskAct"
            android:launchMode="singleTask"/>
        <activity android:name=".ui.lifecycle.ActivitySingleTaskAffinityAct"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity="com.zs.androidappfw.MySingleTask"/>
        <activity android:name=".ui.lifecycle.ActivitySingleTopAct"
            android:launchMode="singleTop" />
        <activity android:name=".ui.lifecycle.ActivityStandardAct"
            android:launchMode="standard" />
        <activity android:name=".ui.lifecycle.ActivityStandardConfigChangesAct"
            android:configChanges="orientation" />
        <activity android:name=".ui.lifecycle.FragmentDynamicAct"
            android:configChanges="orientation" />
        <activity android:name=".ui.lifecycle.FragmentStaticAct"
            android:configChanges="orientation" />
        <activity android:name=".ui.lifecycle.ServiceLifecycleAct" />
        <activity android:name=".ui.lifecycle.BroadcastReceiverLifecycleAct" />
        <activity android:name=".ui.lifecycle.ContentProviderLifecycleAct" />

        <activity android:name=".ui.wsim.WindowSoftInputModeAct" />
        <activity android:name=".ui.wsim.WsimAdjustNothingAct"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".ui.wsim.WsimAdjustPanAct"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.wsim.WsimAdjustResizeAct"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.wsim.WsimAdjustUnspecifiedAct"
            android:exported="true"
            android:windowSoftInputMode="adjustUnspecified" />
        <activity android:name=".ui.wsim.WsimStateAlwaysHiddenAct"
            android:exported="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".ui.wsim.WsimStateAlwaysVisibleAct"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity android:name=".ui.wsim.WsimStateHiddenAct"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".ui.wsim.WsimStateVisibleAct"
            android:windowSoftInputMode="stateVisible" />
        <activity android:name=".ui.wsim.WsimStateUnchangedAct"
            android:windowSoftInputMode="stateUnchanged" />
        <activity android:name=".ui.wsim.WsimStateUnspecifiedAct"
            android:windowSoftInputMode="stateUnspecified" />

        <activity android:name=".ui.fundamental.drawable.DrawableAct" />
        <activity android:name=".ui.fundamental.drawable.BitmapDrawableAct" />
        <activity android:name=".ui.fundamental.drawable.NinePatchDrawableAct" />
        <activity android:name=".ui.fundamental.drawable.LayerDrawableAct" />
        <activity android:name=".ui.fundamental.drawable.StateListDrawableAct" />
        <activity android:name=".ui.fundamental.drawable.LevelListDrawableAct" />
        <activity android:name=".ui.fundamental.drawable.TransitionDrawableAct" />
        <activity android:name=".ui.fundamental.drawable.InsetDrawableAct" />
        <activity android:name=".ui.fundamental.drawable.ClipDrawableAct" />
        <activity android:name=".ui.fundamental.drawable.ScaleDrawableAct" />
        <activity android:name=".ui.fundamental.drawable.ShapeDrawableAct" />
        <activity android:name=".ui.fundamental.drawable.AnimationDrawableAct" />

        <activity android:name=".ui.fundamental.font.FontActivity" />

        <activity android:name=".ui.fundamental.ContextFileSystemAct" />

        <activity android:name=".ui.view.tag.BlinkAct" />
        <activity android:name=".ui.view.tag.IncludeAct" />
        <activity android:name=".ui.view.tag.MergeAct" />
        <activity android:name=".ui.view.tag.RequestFocusAct" />
        <activity android:name=".ui.view.tag.TagAct" />

        <activity android:name=".ui.view.ImageViewAct" />
        <activity android:name=".ui.view.ImageButtonAct" />
        <activity android:name=".ui.view.QuickContactBadgeAct" />

        <activity android:name=".ui.view.ProgressBarAct" />
        <activity android:name=".ui.view.AbsSeekBarAct" />
        <activity android:name=".ui.view.RatingBarAct" />
        <activity android:name=".ui.view.SeekBarAct" />

        <activity android:name=".ui.view.TextViewAct" />
        <activity android:name=".ui.view.CheckedTextViewAct" />
        <activity android:name=".ui.view.ChronometerAct" />
        <activity android:name=".ui.view.TextClockAct" />
        <activity android:name=".ui.view.EditTextAct" />
        <activity android:name=".ui.view.AutoCompleteTextViewAct" />
        <activity android:name=".ui.view.MultiAutoCompleteTextViewAct" />
        <activity android:name=".ui.view.ExtractEditTextAct" />
        <activity android:name=".ui.view.ButtonAct" />
        <activity android:name=".ui.view.CompoundButtonAct" />
        <activity android:name=".ui.view.CheckBoxAct" />
        <activity android:name=".ui.view.RadioButtonAct" />
        <activity android:name=".ui.view.SwitchAct" />
        <activity android:name=".ui.view.ToggleButtonAct" />

        <activity android:name=".ui.view.SpaceAct" />
        <activity android:name=".ui.view.ViewStubAct" />

        <activity android:name=".ui.view.viewgroup.ViewGroupAct" />

        <activity android:name=".ui.view.viewgroup.AbsoluteLayoutAct" />
        <activity android:name=".ui.view.viewgroup.WebViewAct" />

        <activity android:name=".ui.view.viewgroup.FrameLayoutAct" />
        <activity android:name=".ui.view.viewgroup.AppWidgetHostViewAct" />
        <activity android:name=".ui.view.viewgroup.CalendarViewAct" />
        <activity android:name=".ui.view.viewgroup.DatePickerAct" />
        <activity android:name=".ui.view.viewgroup.GestureOverlayViewAct" />
        <activity android:name=".ui.view.viewgroup.MediaControllerAct" />
        <activity android:name=".ui.view.viewgroup.HorizontalScrollViewAct" />
        <activity android:name=".ui.view.viewgroup.ScrollViewAct" />
        <activity android:name=".ui.view.viewgroup.TabHostAct" />
        <activity android:name=".ui.view.viewgroup.TimePickerAct" />
        <activity android:name=".ui.view.viewgroup.ViewAnimatorAct" />
        <activity android:name=".ui.view.viewgroup.ViewFlipperAct" />
        <activity android:name=".ui.view.viewgroup.ViewSwitcherAct" />
        <activity android:name=".ui.view.viewgroup.ImageSwitcherAct" />
        <activity android:name=".ui.view.viewgroup.TextSwitcherAct" />

        <activity android:name=".ui.view.viewgroup.GridLayoutAct" />

        <activity android:name=".ui.view.viewgroup.LinearLayoutAct" />
        <activity android:name=".ui.view.viewgroup.ActionMenuViewAct" />
        <activity android:name=".ui.view.viewgroup.NumberPickerAct" />
        <activity android:name=".ui.view.viewgroup.RadioGroupAct" />
        <activity android:name=".ui.view.viewgroup.SearchViewAct" />
        <activity android:name=".ui.view.viewgroup.TabWidgetAct" />
        <activity android:name=".ui.view.viewgroup.TableLayoutAct" />
        <activity android:name=".ui.view.viewgroup.TableRowAct" />
        <activity android:name=".ui.view.viewgroup.ZoomControlsAct" />

        <activity android:name=".ui.view.viewgroup.RelativeLayoutAct" />
        <activity android:name=".ui.view.viewgroup.DialerFilterAct" />
        <activity android:name=".ui.view.viewgroup.TwoLineListItemAct" />

        <activity android:name=".ui.animation.AnimationFrameAct" />
        <activity android:name=".ui.animation.AnimationTweenAct" />
        <activity android:name=".ui.animation.AnimationAttributeAct" />

        <!-- 自定义权限使用 start -->
        <activity android:name=".ui.advanced.CustomizationPermissionAct"
            android:exported="true"
            android:permission="com.zs.androidappfw.permission.CUSTOMIZATION_PERMISSION_PAGE"/>
        <!-- 自定义权限使用 end -->

        <activity android:name=".ui.advanced.DispatchTouchEventAct" />

        <activity android:name=".ui.advanced.CustomizationViewAct" />
        <activity android:name=".ui.advanced.CustomizationViewGroupAct" />

        <activity android:name=".wcn.WcnActivity" />
        <activity android:name=".wcn.bt.ClassicBtAct" />
        <activity android:name=".wcn.bt.BleAct" />
        <activity android:name=".wcn.lbs.LocationManagerAct" />
        <activity android:name=".wcn.lbs.GeocodeAct" />

        <activity android:name=".cellular.CellularActivity" />

        <service android:name=".ui.lifecycle.ServiceByBind" />

        <service android:name=".ui.lifecycle.ServiceByStartService" />

        <receiver android:name=".ui.lifecycle.BroadcastReceiverStatic"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="com.zs.androidappfw.BROADCAST_RECEIVER_LIFECYCLE" />
            </intent-filter>
        </receiver>

        <provider android:name=".ui.lifecycle.ContentProviderLifecycle"
            android:authorities="com.zs.androidappfw.lifecycle.ContentProviderLifecycle"
            android:enabled="true"
            android:grantUriPermissions="true"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />
    </application>
</manifest>
